* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
.cap-table {
   width: 525px;
   border-collapse: collapse;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
}
table {
  margin-bottom: 30px;
}
td {
  height: 25px;
  padding: 5px 5px 5px 10px;
  margin: 0;
  border: 0.5px solid black;
}



/************** Simple Table Setup *******************/
/******************************************************/

table[type="simple"] tr:first-child {
    background: rgb(63,102,118);
    color: rgb(255,255,255);
}
table[type="simple"] tr:nth-child(2n) {
  background: rgb(237,237,237);
}

/************** Complex Table Setup *******************/
/******************************************************/
table[type="complex"] tr:first-child {
    background: rgb(63,102,118);
    color: rgb(255,255,255);
    height: 50px;
}
table[type="complex"] tr:nth-child(2){
  background: rgb(75,169,185);
  color: rgb(255,255,255);
  height: 50px;
}
table[type="complex"] tr:nth-child(2n+3) {
  background: rgb(237,237,237);
}
table[type="complex"] tr:first-child td:first-child {
  background: rgb(255,255,255);
  border-left: none;
  border-top: none;
  border-bottom: none;
}
table[type="complex"] tr:nth-child(2) td:first-child {
  background: rgb(255,255,255);
  border-left: none;
  border-top: none;
}
table[type="complex"] tr:first-child td:nth-child(2) {
  column-span: all;
}
table[type="complex"] tr:first-child td:nth-child(3) {
  column-span: all;
}